{% extends 'base.html' %}
{% load static %}


{% block body %}

<div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        {% if massage %}
                        <h2 style="color:green;">{{massage}}</h2>
                        {% endif %}
                        <h2>GET IN TOUCH</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio justo, ultrices ac nisl sed, lobortis porta elit. Fusce in metus ac ex venenatis ultricies at cursus mauris.</p>
                        <form action="{% url 'conteact_persion_info' %}" method="POST">{% csrf_token %}

                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="conteact_persion_name" placeholder="Your Name" required="" data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Your Email" id="email" class="form-control" name="conteact_persion_email" required="" data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="conteact_persion_subjects" placeholder="Subject" required="" data-error="Please enter your Subject">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="conteact_persion_massage" id="message" placeholder="Your Message" rows="4" data-error="Write your message" required=""></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="submit-button text-center">
                                <button class="btn hvr-hover disabled" id="submit" type="submit" style="pointer-events: all; cursor: pointer;">Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>

                        </form>




                    </div>
                </div>
				<div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <br><br><br><br><br><br>
                        <h2>CONTACT INFO</h2>

                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: 2000 NJ-38, Cherry Hill, NJ 08002, United States. </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: +1856792447a</p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: BooksZoon@gmail.com</p>
                            </li>
                        </ul>
                        <br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}